@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grocery Saver</h1>
    <p class="lead">Grocery Saver is a handy web application that lets you know what perishable groceries that you have are close to and have expired. This application
    also makes a list of the groceries that you need to consume soon before they expire hence "Grocery Saver". Groceries that have expired or if their currrent count
    has reached zero will be added to a list in order to remind you to pick these up at your local grocery supplier!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Grocery List</h2>
        <p>
            Headed to the grocery store? Not sure what you need to get? Without having look at for what has run out or is about to just click this button to view and print the list of what you currently need.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Get List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consume Soon!</h2>
        <p>Here you will find what grocery items you have that are soon expiring. You might even find something you forgot you even had! Eat it soon or so that you don't waste your money!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Eat Now! &raquo;</a></p>
    </div>
    
</div>